[Unit]
Description=Termote tmux API Server
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/var/www/termote/scripts/tmux-api.sh 7682 main
Restart=always
RestartSec=3
Environment=HOME=/home/%i

[Install]
WantedBy=multi-user.target
